@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Itim&display=swap');

$background-color: #02bcd6;
$font-color: #4b3f3a;
$light-font-color: white;
$accent-color: #dbb42c;
$element-color: #ffd868;

$heading-font: "Amatic SC", "Times New Roman", serif;
$para-font: "Itim", "Arial", sans-serif;