@use 'atoms' as a;
@use 'variables' as v;

* {
    box-sizing: border-box;
  }
  html {
    background-color: v.$background-color;
    padding: 5%;
  }
  
  body {
    font-family: v.$para-font;
    color: v.$font-color;
    background-color: v.$element-color;
    @include a.white-space(0);
  }
  
  section {
    background-color: white;
    @include a.white-space(1em);
  }
  .colors {
    display: flex;
    flex-flow: row wrap;
    > h3 {
      width: 100%;
      flex: 1 0 100%;
    }
    > figure {
      margin: 0;
      flex: 1 1 25%;
    }
  }
  .swatch {
    width: 100%;
    height: 100px;
    border: 1px solid;
  }
  .primary {
    background-color: v.$element-color;
  }
  .accent1 {
    background-color: v.$accent-color;
  }
  .accent2 {
    background-color: v.$background-color;
  }
  .text-dark {
    background-color: v.$font-color;
  }
  .element {
    border: 1px solid;
    margin: 0.5em;
    padding: 1em;
  }
  .uppercase {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: v.$font-color;
    &.primary {
        @include a.white-space(0);
    }
  }
  .uppercase-light {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: v.$light-font-color;
  }
  