@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Itim&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Amatic SC", "Times New Roman", serif;
}

p, a, li, label {
  font-family: "Itim", "Arial", sans-serif;
}

:root {
  --bicycle-inner: white;
  --bicycle-stroke: darkgreen;
  --bicycle-stroke-width: 4;
}

:root {
  /* Padding */
  --padding-large: 20px;
  --padding-medium: 15px;
  --padding-small: 10px;
  --padding-button-inner-large: 15px;
  --padding-button-outer-large: 32px;
  --padding-button-inner-medium: 10px;
  --padding-button-outer-medium: 16px;
  --padding-button-inner-small: 5px;
  --padding-button-outer-small: 8px;
  --padding-html-large: 5%;
  --padding-html-medium: 7%;
  --padding-html-small: 9%;
  --padding-separation-one: 50%;
  --padding-separation-two: 75%;
  --padding-separation-none: 0%;
  --padding-section-large: 1em;
  --padding-section-medium: 0.5em;
  --padding-section-small: 0.25em;
  /* White Space */
  --white-space-large: 0;
  --white-space-medium: 1;
  --white-space-small: 2;
  /* Font Size */
  --font-size-large: 24px;
  --font-size-medium: 18px;
  --font-size-small: 16px;
  --font-size-h1-large: 6em;
  --font-size-h2-large: 5em;
  --font-size-h3-large: 4em;
  --font-size-h4-large: 3em;
  --font-size-h1-medium: 5.5em;
  --font-size-h2-medium: 4.5em;
  --font-size-h3-medium: 3.5em;
  --font-size-h4-medium: 2.5em;
  --font-size-h1-small: 5em;
  --font-size-h2-small: 4em;
  --font-size-h3-small: 3em;
  --font-size-h4-small: 2em;
  /* Bicycle */
  --bicycle-large: 144px;
  --bicycle-medium: 84px;
  --bicycle-small: 60px;
}

/* Large Responsive */
@media (min-width: 1300px) {
  html {
    padding: var(--padding-html-large);
  }
  body {
    margin: var(--white-space-large);
    padding: 1rem;
    font-size: var(--font-size-large);
  }
  section {
    margin: var(--white-space-large);
    padding: 1rem;
  }
  button {
    font-size: var(--font-size-large);
    padding: var(--padding-button-inner-large) var(--padding-button-outer-large);
  }
  .fa.fa-bicycle {
    font-size: var(--bicycle-large);
  }
  h1 {
    font-size: var(--font-size-h1-large);
  }
  h2 {
    font-size: var(--font-size-h2-large);
  }
  h3 {
    font-size: var(--font-size-h3-large);
  }
  h4 {
    font-size: var(--font-size-h4-large);
  }
  .preamble {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: var(--padding-separation-one);
  }
  .explanation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: var(--padding-separation-one);
  }
  .participation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: var(--padding-separation-one);
  }
  .benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: var(--padding-separation-one);
  }
  .requirements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: var(--padding-separation-one);
  }
  .bicycle {
    width: var(--bicycle-large);
  }
}
@media (min-width: 600px) and (max-width: 1299px) {
  html {
    padding: var(--padding-html-medium);
  }
  body {
    margin: var(--white-space-medium);
    padding: 1rem;
    font-size: var(--font-size-medium);
  }
  section {
    margin: var(--white-space-medium);
    padding: 1rem;
  }
  button {
    font-size: var(--font-size-medium);
    padding: var(--padding-button-inner-medium) var(--padding-button-outer-medium);
  }
  h1 {
    font-size: var(--font-size-h1-medium);
  }
  h2 {
    font-size: var(--font-size-h2-medium);
  }
  h3 {
    font-size: var(--font-size-h3-medium);
  }
  h4 {
    font-size: var(--font-size-h4-medium);
  }
  .preamble {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: var(--padding-separation-one);
  }
  .explanation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: var(--padding-separation-one);
  }
  .participation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: var(--padding-separation-one);
  }
  .benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: var(--padding-separation-one);
  }
  .requirements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-right: var(--padding-separation-one);
  }
  .bicycle {
    width: var(--bicycle-medium);
  }
}
@media (max-width: 599px) {
  html {
    padding: var(--padding-html-small);
  }
  body {
    margin: var(--white-space-small);
    padding: 1rem;
    font-size: var(--font-size-small);
  }
  section {
    margin: var(--white-space-small);
    padding: 1rem;
  }
  button {
    font-size: var(--font-size-small);
    padding: var(--padding-button-inner-small) var(--padding-button-outer-small);
  }
  h1 {
    font-size: var(--font-size-h1-small);
  }
  h2 {
    font-size: var(--font-size-h2-small);
  }
  h3 {
    font-size: var(--font-size-h3-small);
  }
  h4 {
    font-size: var(--font-size-h4-small);
  }
  .preamble {
    padding-right: var(--padding-separation-none);
  }
  .explanation {
    padding-left: var(--padding-separation-none);
  }
  .participation {
    padding-right: var(--padding-separation-none);
  }
  .benefits {
    padding-left: var(--padding-separation-none);
  }
  .requirements {
    padding-right: var(--padding-separation-none);
  }
  .bicycle {
    width: var(--bicycle-small);
  }
}
* {
  box-sizing: border-box;
}

html {
  background-color: #02bcd6;
}

body {
  font-family: "Itim", "Arial", sans-serif;
  color: #4b3f3a;
  background-color: #ffd868;
}

h1 {
  display: flex;
  justify-content: flex-end;
}

h2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  rotate: 20deg;
}

h3 {
  text-align: left;
}

.bicycles {
  display: flex;
  justify-content: space-around;
}

.fa-bicycle {
  color: #4b3f3a;
}

section {
  background-color: white;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: x-small;
}

.select {
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding-right: 75%;
}

.button {
  background-color: #02bcd6; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

blockquote {
  display: flex;
  justify-content: flex-start;
}

.colors {
  display: flex;
  flex-flow: row wrap;
}
.colors > h3 {
  width: 100%;
  flex: 1 0 100%;
}
.colors > figure {
  margin: 0;
  flex: 1 1 25%;
}

.swatch {
  width: 100%;
  height: 100px;
  border: 1px solid;
}

.primary {
  background-color: #ffd868;
}

.accent1 {
  background-color: #dbb42c;
}

.accent2 {
  background-color: #02bcd6;
}

.text-dark {
  background-color: #4b3f3a;
}

.element {
  border: 1px solid;
  margin: 0.5em;
  padding: 1em;
}

.uppercase {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4b3f3a;
}
.uppercase.primary {
  margin: 0;
  padding: 1rem;
}

.uppercase-light {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.design-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
}
.design-selection ul {
  list-style-type: none;
}
.design-selection a {
  text-decoration: none;
}
.design-selection .design-name {
  text-transform: uppercase;
}
.design-selection .designer-name {
  display: flex;
  flex: row wrap;
}

/*# sourceMappingURL=style.css.map */
